/* Web fonts */
@font-face { font-family:Roboto; font-style:normal; font-weight:100;
  src:url("roboto-thin.woff2") format("woff2"); }
@font-face { font-family:Roboto; font-style:normal; font-weight:300;
  src:url("roboto-light.woff2") format("woff2"); }
@font-face { font-family:Roboto; font-style:normal; font-weight:400;
  src:url("roboto.woff2") format("woff2"); }
@font-face { font-family:Roboto; font-style:normal; font-weight:700;
  src:url("roboto-bold.woff2") format("woff2"); }

/* Small devices */
@media (min-width:360px) {
  .companyname { display:none; }
}

/* Medium devices */
@media (min-width:640px) {
  .companyname { display:inline-block; }
}

/* Global styles */
body { margin:0; padding:0; font-family:Roboto; color:white; }
a { color:white; text-decoration:none; }

/* Classes */
.page { background:url("background.jpg") center;
  border-bottom:solid 0.75rem rgb(153,204,255); }
.titlebar { padding:0 1rem; display:flex; position:sticky; top:1px; }
.stickytitlebar { background:rgb(79,71,78); }
.company { white-space:nowrap; }
.logo { box-sizing:border-box; max-height:3.5rem;
  padding:0.4rem 0.8rem 0.4rem 0; vertical-align:middle; }
.companyname { font-weight:300; font-size:1.2rem; white-space:nowrap; }
.tablist { display:inline-block; position:absolute; bottom:0; right:0.4rem; }
.tab { box-sizing:border-box; max-height:4rem;
  font-weight:700; font-size:1.0rem;
  margin:0 0.75rem; padding-bottom:0.75rem; 
  display:inline-block; white-space:nowrap; vertical-align:middle;
  border-bottom:solid 0.5rem rgba(0,0,0,0); }
.tab:hover { opacity:0.6; }
.activetab { border-bottom:solid 0.5rem rgb(153,204,255); }
.main { padding:5rem 1rem; text-align:center; }
.section { font-weight:100; font-size:2.0rem; line-height:3rem; }
.subsection { font-weight:400; font-size:1.2rem; line-height:1.8rem;
  margin-top:1.2rem; }
.subsection>a { font-weight:700; border-bottom:solid 1px rgb(153,204,255); }
.scrollguard { height:1px; }
